footer
{
    background-color: #483D8B;
    color: white;
    padding: 10px;
    float: left;
    width: 100%;
}
body
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    color: white;
}
.jeden
{
    background-color: #483D8B;
    width: 30%;
    height: 150px;
    float: left;
}
.dwa
{
    background-color: #483D8B;
    width: 70%;
    height: 150px;
    color: white;
    float: left;
}